.card{
  display: flex;
  flex-direction: column;
  width: calc(10% - 5px);
}

.card_img{
  width: 100%;
  aspect-ratio: 9/5;
  background-size: cover;
  background-color: red;
  background-position: center;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
}