.skillCard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  aspect-ratio: 1/1;
  /* background-color: var(--link-color); */
  background-color: #1b1d29;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.skillCard:hover{
  border-color: var(--secondary-color);
}

.skillCard svg{
  color: var(--secondary-color);
}