.skills{
  /* height: 40vh; */
  width: 100%;
  /* background-color: #15161e; */
}

.skills_content{
  display: flex;
  flex-direction: column;
  /* width: 85%; */
  /* height: 100%; */
  margin: auto;
}

.skills_content_title{
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.skills_content_skillCase{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skillCard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  aspect-ratio: 1/1;
  background-color: var(--primary-color-dark);
  color: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.skillCard:hover{
  border-color: var(--secondary-color);
}

.skillCard svg{
  color: var(--secondary-color);
}