.about{
  height: 90vh;
  width: 100vw;
}

.about_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  margin: auto;
}

.about_content_title{
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.about_content_left_text{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  /* padding-top: 30px; */
}

/* .about_content_left, .about_content_right{
  width: 45%;
  border: 1px solid red;
} */