.about{
  height: 90vh;
  width: 100vw;
}

.about_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  margin: auto;
}

.about_content_title{
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.about_content_left_text{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}