footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 10vh;
  margin: auto;
  gap: 10px;
}

footer > *{
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: .3s;
}

footer > *:hover{
  color: var(--link-color);
}